<plugin name='plastic-criteria' version='0.5' grailsVersion='2.2.0 &gt; *'>
  <author>Fabio Issamu Oshiro</author>
  <title>Plastic Criteria Plugin</title>
  <description>Mock Grails Criteria for Unit Tests
</description>
  <documentation>http://grails.org/plugin/plastic-criteria</documentation>
  <type>PlasticCriteriaGrailsPlugin</type>
  <resources>
    <resource>plastic.criteria.Artist</resource>
    <resource>plastic.criteria.Portrait</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://download.java.net/maven/2/' url='http://download.java.net/maven/2/' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='mysql' name='mysql-connector-java' version='5.1.21' />
    </runtime>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='mail' version='1.0.1' />
      <plugin group='org.grails.plugins' name='cache' version='1.0.1' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='jquery' version='1.8.3' />
      <plugin group='org.grails.plugins' name='hibernate' version='2.2.0' />
      <plugin group='org.grails.plugins' name='resources' version='1.1.6' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.2.0' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>