<plugin name='plastic-criteria' version='0.1' grailsVersion='1.3 &gt; *'>
  <author>Fabio Issamu Oshiro</author>
  <title>Plastic Criteria Plugin</title>
  <description>Mock Grails Criteria for Unit Tests
</description>
  <documentation>http://grails.org/plugin/plastic-criteria</documentation>
  <type>PlasticCriteriaGrailsPlugin</type>
  <resources>
    <resource>plastic.criteria.Artist</resource>
    <resource>plastic.criteria.Portrait</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='javassist' name='javassist' version='3.12.1.GA' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>